body {
  width: 90vw;
  margin: 0px auto;
  background-color: rgba(238, 238, 236, 0.3);
  font-family: "Abel", sans-serif;
  box-shadow: 5px 5px 30px grey;
  border-radius: 2vw;
}
.m-auto {
  margin: 0 auto;
}
.center {
  text-align: center;
}
/* section {
  border-radius: 2vw;
} */
#first {
  background-image: url(img/donation1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  margin-bottom: 10vh;
}

#text {
  width: 80vw;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 4.5vw;
  color: aliceblue;
  margin: 0 7vw;
  padding: 18vh 0 5vh 0;
}
h2 {
  font-family: "Abel", sans-serif;
  font-size: 3.5vw;
  color: rgb(7, 7, 7);
}
h3 {
  font-size: 2.5vw;
  color: rgb(247, 78, 48);
  margin-top: 2vh;
  font-family: "Merienda", cursive;
}
h4 {
  font-size: 1.7vw;
  font-weight: 600;
}
p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
}
a {
  text-decoration: none;
  padding: 1.5vh 2vw;
  color: rgb(241, 239, 237);
  background-color: rgb(243, 78, 49);
  border-radius: 0.5vw;
  font-size: 1.8vw;
  font-weight: 600;
  width: fit-content;
}
.button {
  width: 20vw;
  margin-top: 5vh;
}
#second {
  width: 50vw;
  margin: 0 15vw 10vh;
}
.flex {
  display: flex;
  -ms-flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 5vh 3vh;
  margin: 2.5vh;

  font-family: "Roboto Slab";
  font-weight: 800;
  font-size: 2vw;
  color: rgb(7, 7, 7);
  border-radius: 0.8vh;
  background-color: rgb(252, 249, 249);
  box-shadow: 1px 1px 5px grey;
}
#default {
  border: 2px solid rgb(250, 82, 53);
  color: rgb(252, 88, 59);
  background-color: rgba(255, 99, 71, 0.132);
}
#input {
  text-decoration: none;
  background-color: rgba(238, 238, 236, 0.3);
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 1vw;
  font-size: 2vh;
  margin: 55px;
}
#Donate {
  width: 100%;
}
#button2 {
  width: 20vw;
  margin-left: 45%;
}
footer {
  background-color: rgb(17, 1, 1);
  height: 19vh;
  padding: 1.5vh 0;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 0vw;
}
#footer {
  color: rgb(205, 206, 207);
}
.texts {
  width: 70%;
  padding-bottom: 3vh;
}
#ghar-tera {
  width: 90%;
  margin: auto;
  padding-left: 10vh;
}
.item {
  width: 22vw;
  height: 18vw;
  padding: 5vh 3vh;
  margin: 3vh;
  /* border: 2px solid black; */
  border-radius: 2vh;
}
#color1 {
  background-color: rgba(187, 235, 219, 0.395);
}
#color2 {
  background-color: rgba(240, 187, 243, 0.322);
}
#color3 {
  background-color: rgba(244, 228, 181, 0.382);
}
form {
  padding: 3vw 6vw;
  background-color: rgba(251, 242, 189, 0.429);
  width: 50%;
  border-radius: 1vw;
}
#form {
  margin-bottom: 10vh;
}
form input {
  padding: 2.5vh 5vw;
  color: rgb(241, 239, 237);
  font-size: 1vw;
  font-weight: 600;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border: none;
  background-color: rgba(176, 172, 172, 0.325);
}
form a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.b-shadow {
  box-shadow: 3px 3px 20px rgba(130, 150, 150, 0.685);
}
